<?xml version="1.0"?>
<launch>
  <node  name="schunk_ezn64_sensors"  pkg="schunk_ezn64_driver" type="schunk_ezn64_sensors_node" output="screen">
    <param name="distance" type="double" value="20.0"/>
  </node>
  <node  name="schunk_ezn64_gripper"  pkg="schunk_ezn64_driver" type="schunk_ezn64_gripper_node" output="screen">
	<param name="device" type="string" value="/dev/ttyUSB1"/>
    <param name="period" type="double" value="0.1"/>
    <remap from="/schunk_ezn64_gripper/joint_states" to="/joint_states" />
  </node>
</launch>
