<?xml version="1.0" ?>
<robot name="rotary_table" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="rotary_table" params="prefix parent *origin">
		
    <joint name="rotary_table_joint" type="fixed">
	    <parent link="${parent}"/>
	    <child link="rotary_table"/>
	    <insert_block name="origin" />
    </joint>

  <link name="rotary_table">
    <visual>
      <geometry>
        <mesh filename="package://rotary_table_description/meshes/rotary_table_original.stl" scale="1 1 1"/>
      </geometry>
     <material name="orange_color">
        <color rgba="1 0.6 0.3 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://rotary_table_description/meshes/rotary_table_original.stl" scale="1 1 1"/>
      </geometry>
      <material name="scene_material">
		<color rgba="0.5 0.5 0.5 1.0"/>        	
	    </material>
	    <origin xyz="0 0 0" rpy="0 0 0" />
    </collision>
  </link>
  
	</xacro:macro>
</robot>

