
	<launch>
		
		<arg name="model" default="fs03n" />
		
		<param name="robot_description" command="$(find xacro)/xacro.py '$(find kawasaki_description)/urdf/$(arg model)/$(arg model)_robot.urdf.xacro'" />
		
		<node name="$(anon rviz)" launch-prefix="" pkg="rviz" type="rviz" respawn="false" args="-d $(find kawasaki_description)/launch/view.rviz" output="screen" />
					
		<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
			<param name="/use_gui" value="true"/>
		</node>  		
		
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />
  		
	</launch>
